<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.seminar.mapper.CourseMapper">
    <resultMap id="courseResultMap" type="com.test.seminar.entity.Course">
        <id property="id" column="id"/>
        <collection property="roundList" column="id" javaType="ArrayList" ofType="com.test.seminar.entity.Round" select="com.test.seminar.mapper.RoundMapper.getRoundByCourseId"/>
        <collection property="seminarSubCourseList" column="id" javaType="ArrayList" ofType="com.test.seminar.entity.Course" select="com.test.seminar.mapper.CourseMapper.getCourseBySeminarMainCourseId"/>
        <collection property="teamSubCourseList" column="id" javaType="ArrayList" ofType="com.test.seminar.entity.Course" select="com.test.seminar.mapper.CourseMapper.getCourseByTeamMainCourseId"/>
    </resultMap>

    <resultMap id="teamStrategyResultMap" type="com.test.seminar.strategy.impl.TeamStrategy">
        <association property="course" javaType="com.test.seminar.entity.Course" column="id" select="getCourseByCourseId"/>
    </resultMap>

    <resultMap id="memberLimitStrategyResultMap" type="com.test.seminar.strategy.impl.MemberLimitStrategy">
        <id property="id" column="id"/>
    </resultMap>

    <resultMap id="courseMemberLimitStrategyResultMap" type="com.test.seminar.strategy.impl.CourseMemberLimitStrategy">
        <id property="id" column="id"/>
    </resultMap>

    <resultMap id="conflictCourseStrategyResultMap" type="com.test.seminar.strategy.impl.ConflictCourseStrategy">
        <id property="id" column="id"/>
        <collection property="conflictCourseIdList" javaType="ArrayList" ofType="BigInteger" column="id" select="getCourseIdByConflictCourseStrategyId"/>
    </resultMap>

    <select id="getCourseByCourseId" resultMap="courseResultMap">
        select id,introduction,presentation_percentage,question_percentage,report_percentage,course_name,team_start_time,team_end_time
        from course
        where id=#{courseId}
    </select>

    <select id="getCourseByCourseClassId" resultMap="courseResultMap">
        select course.id,introduction,presentation_percentage,question_percentage,report_percentage,course_name,team_start_time,team_end_time
        from course,klass
        where klass.id=#{courseClassId} and course.id=klass.course_id
    </select>

    <select id="getCourseByTeacherId" resultMap="courseResultMap">
        select id,teacher_id,introduction,presentation_percentage,question_percentage,report_percentage,course_name,team_start_time,team_end_time
        from course
        where teacher_id=#{teacherId}
    </select>

    <select id="getCourseByStudentId" resultMap="courseResultMap">
        SELECT course.id,introduction,presentation_percentage,question_percentage,report_percentage,course_name,team_start_time,team_end_time
        FROM course,klass_student
        WHERE student_id=#{studentId} AND klass_student.course_id=course.id

    </select>

    <select id="getCourseByTeamMainCourseId" resultMap="courseResultMap">
        select id,introduction,presentation_percentage,question_percentage,report_percentage,course_name,team_start_time,team_end_time
        from course
        where team_main_course_id=#{teamMainCourseId}
    </select>

    <select id="getCourseBySeminarMainCourseId" resultMap="courseResultMap">
        select id,introduction,presentation_percentage,question_percentage,report_percentage,course_name,team_start_time,team_end_time
        from course
        where seminar_main_course_id=#{seminarMainCourseId}
    </select>

    <select id="getMainCourseByShareTeamApplicationId" resultMap="courseResultMap">
        select id,introduction,presentation_percentage,question_percentage,report_percentage,course_name,team_start_time,team_end_time
        from course,share_team_application
        where id=share_team_application.main_course_id and share_team_application.id=#{shareTeamApplicationId}
    </select>

    <select id="getSubCourseByShareTeamApplicationId" resultMap="courseResultMap">
        select id,introduction,presentation_percentage,question_percentage,report_percentage,course_name,team_start_time,team_end_time
        from course,share_team_application
        where id=share_team_application.sub_course_id and share_team_application.id=#{shareTeamApplicationId}
    </select>

    <insert id="insertCourse">
        insert into course(teacher_id,introduction,presentation_percentage,question_percentage,
        report_percentage,course_name,team_start_time,team_end_time)
        values(#{teacherId},#{course.introduction},
        #{course.presentationPercentage},#{course.questionPercentage},#{course.reportPercentage},
        #{course.courseName},#{course.teamStartTime},#{course.teamEndTime})
    </insert>

    <update id="updateCourseByCourseId">
        update course
        <set>
            <if test="course.introduction!=null">
                introduction=#{course.introduction},
            </if>
            <if test="course.presentationPercentage!=null">
                presentation_percentage=#{course.presentationPercentage},
            </if>
            <if test="course.question_percentage!=null">
                question_percentage=#{course.questionPercentage},
            </if>
            <if test="course.report_percentage!=null">
                report_percentage=#{course.reportPercentage},
            </if>
            <if test="course.courseName!=null">
                course_name=#{course.courseName},
            </if>
            <if test="course.teamStartTime!=null">
                team_start_time=#{course.teamStartTime},
            </if>
            <if test="course.teamEndTime!=null">
                team_end_time=#{course.teamEndTime}
            </if>
        </set>
        where id=#{course.id}
    </update>

    <delete id="deleteCourseByCourseId">
        delete from course where id=#{courseId}
    </delete>

    <select id="getTeamStrategyListByCourseId" resultMap="teamStrategyResultMap">
        select course_id,strategy_serial,strategy_name,strategy_id
        from team_strategy
        where course_id=#{courseId}
    </select>
    
    <select id="getMemberLimitStrategyByStrategyId" resultMap="memberLimitStrategyResultMap">
        select id,min_number,max_number
        from member_limit_strategy
        where id=#{strategyId}
    </select>

    <select id="getCourseMemberLimitStrategyByStrategyId" resultMap="courseMemberLimitStrategyResultMap">
        select id,course_id,min_number,max_number
        from course_member_limit_strategy
        where id=#{strategyId}
    </select>

    <select id="getCourseIdByConflictCourseStrategyId" resultType="BigInteger">
        select course_id
        from conflict_course_strategy
        where id=#{strategyId}
    </select>

    <select id="getConflictCourseStrategyByStrategyId" resultMap="conflictCourseStrategyResultMap">
        select id
        from conflict_course_strategy
        where id=#{strategyId}
    </select>
</mapper>