<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.seminar.mapper.CourseMapper">
    <resultMap id="courseResultMap" type="com.test.seminar.entity.Course">
        <id property="id" column="id"/>
        <result property="teacherId" column="teacher_id"/>
        <result property="introduction" column="introduction"/>
        <result property="presentationPercentage" column="presentation_percentage"/>
        <result property="questionPercentage" column="question_percentage"/>
        <result property="reportPercentage" column="report_percentage"/>
        <result property="courseName" column="course_name"/>
        <result property="teamStartTime" column="team_start_time"/>
        <result property="teamEndTime" column="team_end_time"/>
        <result property="teamMainCourseId" column="team_main_course_id"/>
        <result property="teamMainCourseId" column="seminar_main_course_id"/>
        <collection property="roundList" column="id" javaType="ArrayList" ofType="com.test.seminar.entity.Round" select="com.test.seminar.mapper.RoundMapper.getRoundByCourseId"/>
    </resultMap>

    <select id="getCourseByCourseId" resultMap="courseResultMap">
        select id,teacher_id,introduction,presentation_percentage,question_percentage,report_percentage,course_name,team_start_time,team_end_time,team_main_course_id,seminar_main_course_id
        from course
        where id=#{courseId}
    </select>

    <select id="getCourseByTeacherId" resultMap="courseResultMap">
        select id,teacher_id,introduction,presentation_percentage,question_percentage,report_percentage,course_name,team_start_time,team_end_time,team_main_course_id,seminar_main_course_id
        from course
        where teacher_id=#{teacherId}
    </select>

    <select id="getCourseByStudentId" resultMap="courseResultMap">
        SELECT course.id,teacher_id,course.introduction,presentation_percentage,question_percentage,report_percentage,course.course_name,team_start_time,team_end_time,team_main_course_id,seminar_main_course_id
        FROM course,klass,klass_student
        WHERE student_id=#{studentId} AND klass_student.klass_id=klass.id AND klass.course_id=course.id;
    </select>

    <insert id="insertCourse">
        insert into course(teacher_id,introduction,presentation_percentage,question_percentage,
        report_percentage,course_name,team_start_time,team_end_time,team_main_course_id,seminar_main_course_id)
        values(#{teacherId},#{course.introduction},
        #{course.presentationPercentage},#{course.questionPercentage},#{course.reportPercentage},
        #{course.courseName},#{course.teamStartTime},#{course.teamEndTime},#{course.teamMainCourseId},#{course.seminarMainCourseId})
    </insert>

    <update id="updateCourseByCourseId">
        update course
        <set>
            <if test="course.teacherId!=null">
                teacher_id=#{course.teacherId},
            </if>
            <if test="course.introduction!=null">
                introduction=#{course.introduction},
            </if>
            <if test="course.presentationPercentage!=null">
                presentation_percentage=#{course.presentationPercentage},
            </if>
            <if test="course.question_percentage!=null">
                question_percentage=#{course.questionPercentage},
            </if>
            <if test="course.report_percentage!=null">
                report_percentage=#{course.reportPercentage},
            </if>
            <if test="course.courseName!=null">
                course_name=#{course.courseName},
            </if>
            <if test="course.teamStartTime!=null">
                team_start_time=#{course.teamStartTime},
            </if>
            <if test="course.teamEndTime!=null">
                team_end_time=#{course.teamEndTime}
            </if>
            <if test="course.teamMainCourseId!=null">
                team_main_course_id=#{course.teamMainCourseId},
            </if>
            <if test="course.seminarMainCourseId!=null">
                seminar_main_course_id=#{course.seminarMainCourseId}
            </if>
        </set>
        where id=#{course.id}
    </update>

    <delete id="deleteCourseByCourseId">
        delete from course where id=#{courseId}
    </delete>
</mapper>