<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.seminar.mapper.CourseMapper">
    <resultMap id="courseResultMap" type="com.test.seminar.entity.Course">
        <id property="id" column="id"/>
        <result property="teamMainCourseId" column="team_main_course_id"/>
        <collection property="roundList" column="id" javaType="ArrayList" ofType="com.test.seminar.entity.Round" select="com.test.seminar.mapper.RoundMapper.getRoundByCourseId"/>
        <collection property="seminarSubCourseList" column="id" javaType="ArrayList" ofType="com.test.seminar.entity.Course" select="com.test.seminar.mapper.CourseMapper.getCourseBySeminarMainCourseId"/>
        <collection property="teamSubCourseList" column="id" javaType="ArrayList" ofType="com.test.seminar.entity.Course" select="com.test.seminar.mapper.CourseMapper.getCourseByTeamMainCourseId"/>
    </resultMap>

    <resultMap id="shareTeamResultMap" type="com.test.seminar.entity.ShareTeamApplication">
        <id property="id" column="id"/>
        <association property="mainCourse" column="id" javaType="com.test.seminar.entity.Course" select="com.test.seminar.mapper.CourseMapper.getMainCourseByShareTeamApplicationId"/>
        <association property="subCourse" column="id" javaType="com.test.seminar.entity.Course" select="com.test.seminar.mapper.CourseMapper.getSubCourseByShareTeamApplicationId"/>
    </resultMap>

    <select id="getTeamMainCourseIdBySubCourseId" resultType="java.math.BigInteger">
        select team_main_course_id
        from course
        where id=#{courseId}
    </select>

    <select id="getCourseByCourseId" resultMap="courseResultMap">
        select id,introduction,presentation_percentage,question_percentage,report_percentage,course_name,team_start_time,team_end_time
        from course
        where id=#{courseId}
    </select>

    <select id="getCourseByCourseClassId" resultMap="courseResultMap">
        select course.id,team_main_course_id,introduction,presentation_percentage,question_percentage,report_percentage,course_name,team_start_time,team_end_time
        from course,klass
        where klass.id=#{courseClassId} and course.id=klass.course_id
    </select>

    <select id="getCourseByTeacherId" resultMap="courseResultMap">
        select id,team_main_course_id,teacher_id,introduction,presentation_percentage,question_percentage,report_percentage,course_name,team_start_time,team_end_time
        from course
        where teacher_id=#{teacherId}
    </select>

    <select id="getCourseByStudentId" resultMap="courseResultMap">
        SELECT course.id as id,team_main_course_id,introduction,presentation_percentage,question_percentage,report_percentage,course_name,team_start_time,team_end_time
        FROM course,klass_student
        WHERE student_id=#{studentId} AND klass_student.course_id=course.id

    </select>

    <select id="getCourseByTeamMainCourseId" resultMap="courseResultMap">
        select id,team_main_course_id,introduction,presentation_percentage,question_percentage,report_percentage,course_name,team_start_time,team_end_time
        from course
        where team_main_course_id=#{teamMainCourseId}
    </select>

    <select id="getCourseBySeminarMainCourseId" resultMap="courseResultMap">
        select id,team_main_course_id,introduction,presentation_percentage,question_percentage,report_percentage,course_name,team_start_time,team_end_time
        from course
        where seminar_main_course_id=#{seminarMainCourseId}
    </select>

    <select id="getMainCourseByShareTeamApplicationId" resultMap="courseResultMap">
        select course.id as id,team_main_course_id,introduction,presentation_percentage,question_percentage,report_percentage,course_name,team_start_time,team_end_time
        from course,share_team_application
        where course.id=share_team_application.main_course_id and share_team_application.id=#{shareTeamApplicationId}
    </select>

    <select id="getSubCourseByShareTeamApplicationId" resultMap="courseResultMap">
        select course.id as id,team_main_course_id,introduction,presentation_percentage,question_percentage,report_percentage,course_name,team_start_time,team_end_time
        from course,share_team_application
        where course.id=share_team_application.sub_course_id and share_team_application.id=#{shareTeamApplicationId}
    </select>

    <insert id="insertCourse">
        insert into course(teacher_id,introduction,presentation_percentage,question_percentage,
        report_percentage,course_name,team_start_time,team_end_time)
        values(#{teacherId},#{course.introduction},
        #{course.presentationPercentage},#{course.questionPercentage},#{course.reportPercentage},
        #{course.courseName},#{course.teamStartTime},#{course.teamEndTime})
    </insert>

    <update id="updateCourseByCourseId">
        update course
        <set>
            <if test="course.introduction!=null">
                introduction=#{course.introduction},
            </if>
            <if test="course.presentationPercentage!=null">
                presentation_percentage=#{course.presentationPercentage},
            </if>
            <if test="course.questionPercentage!=null">
                question_percentage=#{course.questionPercentage},
            </if>
            <if test="course.reportPercentage!=null">
                report_percentage=#{course.reportPercentage},
            </if>
            <if test="course.courseName!=null">
                course_name=#{course.courseName},
            </if>
            <if test="course.teamStartTime!=null">
                team_start_time=#{course.teamStartTime},
            </if>
            <if test="course.teamEndTime!=null">
                team_end_time=#{course.teamEndTime},
            </if>
            <if test="course.teamMainCourseId!=null">
                team_main_course_id=#{course.teamMainCourseId}
            </if>
        </set>
        where id=#{course.id}
    </update>

    <delete id="deleteCourseByCourseId">
        delete from course where id=#{courseId}
    </delete>

    <insert id="insertShareTeamApplication">
        insert into share_team_application(main_course_id,sub_course_id,sub_course_teacher_id)
        values(#{mainCourseId},#{subCourseId},#{subCourseTeacherId})
    </insert>


    <delete id="deleteShareTeamApplication">
        delete from share_team_application where id=#{shareTeamApplicationId}
    </delete>

    <select id="getShareTeamApplicationBySubCourseTeacherId" resultMap="shareTeamResultMap">
        select id
        from share_team_application
        where sub_course_teacher_id=#{subCourseTeacherId}
    </select>

    <update id="updateCourseTeamMainCourseId">
        update course
        <set>
            <if test="mainCourseId!=null">
                team_main_course_id=#{mainCourseId}
            </if>
        </set>
        where course.id=#{subCourseId}
    </update>

    <update id="updateCourseSeminarMainCourseId">
        update course
        <set>
            <if test="mainCourseId!=null">
                seminar_main_course_id=#{mainCourseId}
            </if>
        </set>
        where course.id=#{subCourseId}
    </update>
</mapper>