<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.seminar.mapper.RoundMapper">
    <resultMap id="roundResultMap" type="com.test.seminar.entity.Round">
        <id property="id" column="id" />
        <collection property="seminarInfoList" javaType="ArrayList" ofType="com.test.seminar.entity.SeminarInfo" column="id" select="com.test.seminar.mapper.SeminarMapper.getSeminarInfoByRoundId"/>
        <collection property="roundScoreList" javaType="ArrayList" ofType="com.test.seminar.entity.RoundScore" column="id" select="getRoundScoreByRoundId"/>
    </resultMap>

    <resultMap id="RoundScoreResultMap" type="com.test.seminar.entity.RoundScore">
        <id property="id" column="id"/>
        <result property="presentationScore" column="presentation_score"/>
        <result property="questionScore" column="question_score"/>
        <result property="reportScore" column="report_score"/>
    </resultMap>

    <select id="getRoundByCourseId" resultMap="roundResultMap">
        SELECT id,round_serial,presentation_score_method,report_score_method,question_score_method
        FROM round
        WHERE course_id=#{courseId}
    </select>

    <select id="getRoundByRoundId" resultMap="roundResultMap">
        SELECT id,round_serial,presentation_score_method,report_score_method,question_score_method
        FROM round
        WHERE id=#{roundId}
    </select>

    <select id="getRoundSerialBySeminarInfoId" resultMap="roundResultMap">
    select round.round_serial
    from round,seminar
    where seminar.id=#{seminarInfoId} and seminar.round_id=round.id
    </select>

    <select id="getRoundByCourseIdAndRoundSerial" resultMap="roundResultMap">
      select id,round_serial,presentation_score_method,report_score_method,question_score_method
      FROM round
      WHERE course_id=#{courseId} and round_serial=#{roundSerial}
    </select>


    <select id="getMaxRoundSerialByCourseId" resultType="Integer">
        SELECT MAX(round_serial)
        FROM round
        WHERE course_id=#{courseId}
    </select>

    <insert id="insertRound">
        insert into round(id,course_Id,round_serial,presentation_score_method,report_score_method,question_score_method)
        values(#{courseId},#{round.roundSerial},#{round.presentationScoreMethod},#{round.reportScoreMethod},#{round.questionScoreMethod})
    </insert>

    <update id="updateRound">
        update round
        <set>
            <if test="round.roundSerial!=null">
                round_serial=#{round.roundSerial},
            </if>
            <if test="round.presentationScoreMethod!=null">
                presentation_score_method=#{round.presentationScoreMethod},
            </if>
            <if test="round.reportScoreMethod!=null">
                report_score_method=#{round.reportScoreMethod},
            </if>
            <if test="round.questionScoreMethod!=null">
                question_score_method=#{round.questionScoreMethod},
            </if>
        </set>
        where id=#{round.id}
    </update>

    <delete id="deleteRoundByRoundId">
        delete from round where id=#{roundId}
    </delete>

    <select id="getRoundScoreByRoundId" resultMap="RoundScoreResultMap">
        select id,totalScore,presentationScore,questionScore,reportScore
        from round_score
        where id=#{roundId}
    </select>

    <select id="getRoundScoreByRoundIdAndTeamId" resultMap="RoundScoreResultMap">
        select id,totalScore,presentationScore,questionScore,reportScore
        from round_score
        where round_id=#{roundId} and team_id=#{teamId}
    </select>

    <select id="getRoundScoreByTeamId" resultMap="RoundScoreResultMap">
        select id,totalScore,presentationScore,questionScore,reportScore
        from round_score
        where team_id=#{teamId}
    </select>

    <insert id="insertRoundScore">
        insert into round_score(total_score,presentation_score,question_score,report_score)
        values (#{roundScore.totalScore},#{roundScore.presentationScore},#{roundScore.questionScore},#{roundScore.reportScore})
    </insert>

    <update id="updateRoundScore">
        update round_score
        <set>
            <if test="roundScore.totalScore!=null">
                total_score=#{roundScore.totalScore},
            </if>
            <if test="roundScore.presentationScore!=null">
                prensentation_score=#{roundScore.presentationScore},
            </if>
            <if test="roundScore.questionScore!=null">
                question_score=#{roundScore.questionScore},
            </if>
            <if test="roundScore.reportScore!=null">
                report_score=#{roundScore.reportScore},
            </if>
        </set>
          where id=#{roundScore.id}
    </update>

    <delete id="deleteRoundScoreByRoundScoreId">
        delete from round_score where id=#{roundScoreId}
    </delete>
</mapper>