<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.seminar.mapper.RoundMapper">
    <resultMap id="roundResultMap" type="com.test.seminar.entity.Round">
        <id property="id" column="id" />
        <result property="courseId" column="course_id"/>
        <result property="roundSerial" column="round_serial"/>
        <result property="presentationScoreMethod" column="presentation_score_method"/>
        <result property="reportScoreMethod" column="report_score_method"/>
        <result property="questionScoreMethod" column="question_score_method"/>
    </resultMap>

    <select id="getRoundByCourseId" resultMap="roundResultMap">
        SELECT id,course_id,round_serial,presentation_score_method,report_score_method,question_score_method
        FROM round
        WHERE course_id=#{courseId}
    </select>

    <select id="getRoundByRoundId" resultMap="roundResultMap">
        SELECT id,course_id,round_serial,presentation_score_method,report_score_method,question_score_method
        FROM round
        WHERE id=#{roundId}
    </select>

    <insert id="insertRound">
        insert into round(id,course_id,round_serial,presentation_score_method,report_score_method,question_score_method)
        values(#{round.courseId},#{round.roundSerial},#{round.presentationScoreMethod},#{round.reportScoreMethod},#{round.questionScoreMethod})
    </insert>

    <update id="updateRound">
        update round
        <set>
            <if test="round.courseId!=null">
                course_id=#{round.courseId},
            </if>
            <if test="round.roundSerial!=null">
                round_serial=#{round.roundSerial},
            </if>
            <if test="round.presentationScoreMethod!=null">
                presentation_score_method=#{round.presentationScoreMethod},
            </if>
            <if test="round.reportScoreMethod!=null">
                report_score_method=#{round.reportScoreMethod},
            </if>
            <if test="round.questionScoreMethod!=null">
                question_score_method=#{round.questionScoreMethod},
            </if>
        </set>
        where id=#{round.id}
    </update>

    <delete id="deleteRoundByRoundId">
        delete from round where id=#{roundId}
    </delete>
</mapper>