<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.seminar.mapper.TeacherMapper">

    <resultMap id="teacherResultMap" type="com.test.seminar.entity.Teacher">
        <id property="id" column="id" />
        <result property="account" column="account"/>
        <result property="password" column="password"/>
        <result property="active" column="is_active"/>
        <result property="teacherName" column="teacher_name"/>
        <result property="email" column="email"/>
    </resultMap>

    <select id="getTeacherByTeacherId" resultMap="teacherResultMap">
        SELECT id,account,password,is_active,teacher_name,email
        FROM teacher
        WHERE id=#{teacherId}
    </select>

    <select id="getTeacherByAccount" resultMap="teacherResultMap">
        SELECT id,account,password,is_active,teacher_name,email
        FROM teacher
        WHERE account=#{account}
    </select>

    <insert id="insertTeacher">
        insert into teacher(account,password,is_active,teacher_name,email)
        values(#{teacher.account},#{teacher.password},#{teacher.active},#{teacher.teacherName},#{teacher.email})
    </insert>

    <update id="updateTeacherByTeacherId">
        update teacher
        <set>
            <if test="teacher.account!=null">
                account=#{teacher.account},
            </if>
            <if test="teacher.password!=null">
                password=#{teacher.password},
            </if>
            <if test="teacher.active!=null">
                is_active=#{teacher.active},
            </if>
            <if test="teacher.teacherName!=null">
                teacher_name=#{teacher.teacherName},
            </if>
            <if test="teacher.email!=null">
                email=#{teacher.email},
            </if>
        </set>
        where id=#{teacher.id}
    </update>

    <delete id="deleteTeacherByTeacherId">
        delete from teacher where id=#{teacherId}
    </delete>

    <select id="getAllTeacher" resultMap="teacherResultMap">
        SELECT id,account,password,is_active,teacher_name,email
        FROM teacher
    </select>
</mapper>