<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.seminar.mapper.TeamMapper">
    <resultMap id="teamResultMap" type="com.test.seminar.entity.Team">
        <id property="id" column="id" />
        <association property="courseClass" column="id" javaType="com.test.seminar.entity.CourseClass" select="com.test.seminar.mapper.CourseClassMapper.getCourseClassByTeamId"/>
        <association property="leader" column="leader_id" javaType="com.test.seminar.entity.Student" select="com.test.seminar.mapper.StudentMapper.getStudentByStudentId"/>
        <association property="serial" javaType="com.test.seminar.entity.Serial" column="id" select="com.test.seminar.mapper.TeamMapper.getSerialByTeamId"/>
        <collection property="questionList" column="id" javaType="ArrayList" ofType="com.test.seminar.entity.Question" select="com.test.seminar.mapper.QuestionMapper.getQuestionByTeamId"/>
        <collection property="memberList" column="id" javaType="ArrayList" ofType="com.test.seminar.entity.Student" select="com.test.seminar.mapper.StudentMapper.getStudentByTeamId"/>
    </resultMap>

    <resultMap id="teamValidResultMap" type="com.test.seminar.entity.TeamValidApplication">
        <id property="id" column="id"/>
        <association property="team" column="id" javaType="com.test.seminar.entity.Team" select="getTeamByTeamValidApplicationId"/>
    </resultMap>

    <resultMap id="shareTeamResultMap" type="com.test.seminar.entity.ShareTeamApplication">
        <id property="id" column="id"/>
        <association property="mainCourse" column="id" javaType="com.test.seminar.entity.Course" select="com.test.seminar.mapper.CourseMapper.getMainCourseByShareTeamApplicationId"/>
        <association property="subCourse" column="id" javaType="com.test.seminar.entity.Course" select="com.test.seminar.mapper.CourseMapper.getSubCourseByShareTeamApplicationId"/>
    </resultMap>

    <resultMap id="SerialResultMap" type="com.test.seminar.entity.Serial">
        <result property="courseClassSerial" column="klass_serial"/>
    </resultMap>

    <select id="getTeamByTeamId" resultMap="teamResultMap">
        SELECT id,team_name,leader_id,status
        FROM team
        WHERE id=#{teamId}
    </select>

    <select id="getSerialByTeamId" resultMap="SerialResultMap">
        SELECT team_serial,klass_serial
        FROM team
        WHERE id=#{teamId}
    </select>

    <select id="getTeamByStudentIdAndCourseId" resultMap="teamResultMap">
        SELECT team.id,team_name,leader_id,status
        FROM team,klass_team,team_student,klass
        WHERE  klass.course_id=#{courseId} and klass_team.klass_id=klass.id and team_student.team_id=klass_team.team_id and team_student.student_id=#{studentId} and team.id=klass_team.team_id
    </select>

    <select id="getTeamByCourseId" resultMap="teamResultMap">
        SELECT id,team_name,leader_id,status
        FROM team,klass,klass_team
        WHERE klass.course_id=#{courseId} and klass_team.klass_id=klass.id and team.id=klass_team.team_id
    </select>

    <select id="getTeamBySeminarControlId" resultMap="teamResultMap">
        SELECT id,team_name,leader_id,status
        FROM attendance,team
        WHERE klass_seminar_id=#{seminarControlId} and team.id=attendance.team_id
    </select>

    <insert id="insertTeam">
        insert into team(klass_id,course_id,team_name,leader_id,status,team_serial,klass_serial)
        values(#{classId},#{courseId},#{team.teamName},#{team.leaderId},#{team.status},#{team.serial.teamSerial},#{team.serial.courseClassSerial})
    </insert>

    <update id="updateTeam">
        update team
        <set>
            <if test="team.status!=null">
                status=#{team.status},
            </if>
            <if test="team.teamSerial!=null">
                team_serial=#{team.teamSerial},
            </if>
        </set>
        where id=#{team.id}
    </update>

    <delete id="deleteTeamByTeamId">
        delete from team where id=#{teamId}
    </delete>

    <update id="updateCourseClassStudentTeamId">
        update team_student
        <set>
            <if test="teamId!=null">
                team_student.team_id=#{teamId},
            </if>
        </set>
        from klass_student
        where  team_student.student_id=#{studentId} and klass_student.student_id=team_student.student_id and klass_id=#{courseClassId}
    </update>

    <select id="getTeamValidApplicationByTeacherId" resultMap="teamValidResultMap">
        select id,team_id,reason,status
        from team_valid_application
        where teacher_id=#{teacherId}
    </select>

    <select id="getTeamByTeamValidApplicationId" resultMap="teamResultMap">
        select id,team_name,leader_id,status
        from team,team_valid_application
        where team_valid_application.id=#{teamValidApplicationId} and team.id=team_valid_application.team_id
    </select>

    <insert id="insertTeamValidApplication">
        insert into team_valid_application(team_id,teacher_id,reason,status)
        values (#{team_id},#{teacher_id},#{teamValidApplication.reason},#{teamValidApplication.status})
    </insert>

    <update id="updateTeamValidApplication">
        update team_valid_application
        <set>
            <if test="teamValidApplication.status!=null">
                status=#{teamValidApplication.status},
            </if>
        </set>
        where id=#{teamValidApplication.id}
    </update>

    <delete id="deleteTeamValidApplicationByTeamValidApplicationId">
        delete from team_valid_application where id=#{teamValidApplicationId}
    </delete>

    <select id="getShareTeamApplicationByTeacherId" resultMap="shareTeamResultMap">
        select
    </select>

    <select id="getShareTeamApplicationByMainCourseId" resultMap="shareTeamResultMap">

    </select>

    <select id="getShareTeamApplicationBySubCourseId" resultMap="shareTeamResultMap">

    </select>
</mapper>